.features {
    background-color: #191b1d;
    padding: 136px 0px 81px 0;
}
.info {
    margin: 158px 75px;
}
.info-heading {
    width: min(400px, 100%);
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 50px;
}
.mark {
    color: greenyellow;
    background-color: transparent;
    margin-left: 10px;
}
.item-heading {
    display: flex;
    align-items: center;
    gap: 23px;
}
.item-title {
    font-size: 1.8rem;
    font-weight: 600;
}
.desc {
    margin-left: 44px;
    margin-top: 8px;
    color: #858b93;
    //styleName: Paragraph/14px;
    font-size: 1.4rem;
    font-weight: 400;
}
